body {
	font-family: "jaf-facitweb", sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: 1em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

a { text-decoration: none; }

.container {
	padding: 0 0.9375em;
	margin: 1.875em auto;
	max-width: 31.25em; /* 500px */
}

.navigation {
	border-bottom: 2px solid #d3d3d3;
	margin-bottom: 0.9375em;
	padding: 0.9375em 0;
}

.navigation ul {
	display: block;
	padding: 0.9375em 0;
}

.navigation li {
	display: inline-block;
	margin-right: 0.625em;
}

.navigation li a {
	color: #000;
	font-size: 0.75em;
	font-weight: 600;
	padding: 0.9375em;
	text-transform: uppercase;
}

.navigation li a:hover, .navigation .selected {
	background-color: #56a2ff;
	border-radius: 3px;
	color: #fff;
}

.form li {
	margin-bottom: 1.25em;
}

.form li label {
	color: #4d4d4d;
	display: block;
	font-size: 0.875em;
	margin-bottom: 0.625em;
}

input[type=text], input[type=email], textarea {
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0.625em;
	width: 100%;
	outline: none;
}

input[type=submit] {
	border: 0;
	border-radius: 3px;
	background-color: #ec4f4f;
	color: #fff;
	font-size: 0.75em;
	font-weight: 600;
	float: right;
	padding: 0.9375em;
	text-transform: uppercase;
}

input[type=submit]:hover {
	background-color: #e93030;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border-color: #a0a0a0;
}

textarea {
	font-family: inherit;
	font-size: 0.875em;
}

.asterix {
	color: #ff7a56;
}

.error-inline {
	color: #ff7a56;
	font-size: 0.75em;
	display: block;
	margin-top: 0.625em;
}

.errors li {
	color: #ff7a56;
	font-size: 0.75em;
	display: block;
	margin: 0.625em 0;
}

.message {
	font-size: 0.875em;
	border-bottom: 1px dashed #d3d3d3;
	line-height: 1.5em;
	margin-bottom: 1.25em;
}

.message-row {
	display: block;
	margin-bottom: 1.25em;
}

.message-label {
	color: #4d4d4d;
	display: inline-block;
	text-align: right;
	margin-right: 0.9375em;
	width: 5.3125em;
	vertical-align: top;
}

.actual-message {
	display: inline-block;
	width: 400px;
}

.no-messages {
	font-size: 0.875em;
}

@media (max-width: 31.25em) {
	.container {
		margin: 0;
	}
}