body {
	font-family: "jaf-facitweb", sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: 1em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

a { text-decoration: none; }

.container {
	padding: 0 0.9375em;
	margin: 1.875em auto;
	max-width: 31.25em; /* 500px */
}

.form li {
	margin-bottom: 1.25em;
}

.form li label {
	display: block;
	font-size: 0.75em;
	text-transform: uppercase;
	margin-bottom: 0.625em;
}

input[type=text], input[type=email], textarea {
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0.625em;
	width: 100%;
	outline: none;
}

input[type=submit] {
	border: 0;
	border-radius: 3px;
	background-color: #ec4f4f;
	color: #fff;
	font-size: 0.75em;
	float: right;
	padding: 0.9375em;
	text-transform: uppercase;
}

input[type=submit]:hover {
	background-color: #e93030;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border-color: #a0a0a0;
}

textarea {
	font-family: inherit;
	font-size: 0.875em;
}


.asterix {
	color: #ff7a56;
}

.errors li {
	color: #ff7a56;
	font-size: 0.75em;
	display: block;
	margin: 0.625em 0;
}

.message {
	border-bottom: 2px solid #eee;
	padding-bottom: 0.9375em;
	margin-bottom: 0.9375em;
}

.message header {
	border-bottom: 1px solid #eee;
	padding-bottom: 0.9375em;
	margin-bottom: 0.9375em;
}